.homefull{
    display: flex;
    max-width:100%;
    max-height:100%;
    /* max-height: max-content; */
    height: 100%;
    width: 100%;
    /* border: 5px solid whitesmoke; */
    /* overflow: hidden; */
    white-space: nowrap;
}
img{
    max-width: 50px;
    max-height: 50px;
}

.pro-wel{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content:space-between;
}
.profilebar{
    display: flex;
    flex-direction:column;
    /* align-items:flex-start; */
    padding-left: 40px;
    width: 200px;
    height: auto;
    background-color: rgb(249, 248, 246);
    text-align: left;
    padding-right: 40px;
}
.button{
    background-color: rgb(47, 47, 128);
    color: aliceblue;
}




.sidebar{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding-right: 10px;
    /* row-gap: 100px; */
    /* border: 5px solid rgb(249, 248, 246); */
    border-right: none;
    border-bottom: none;
    border-top: none;

}
.sidebar-1{
    display: flex;
   flex-direction: column;
   padding-bottom: 200px;
   align-items: center;
   justify-content: center;
   padding-top: 10px;
}
.button1{
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 47, 128);
    color: aliceblue;
}
.span{
    font: 20px;
    font-size: smaller;
    font-weight: lighter;
    opacity: 60%;
    align-items: baseline;
}
.span2{
   font: 20px;
   font-size: smaller;
   font-weight: lighter;
   opacity: 60%;
   align-items: baseline;
}

.sidebar-2{
   display: flex;
   flex-direction: column;
   padding-bottom: 400px;
   align-items:first baseline;
   align-items: center;
   justify-content: center;
   list-style: none;
   
}
.sidebar-3{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
 }
    


 /* statssection */

 .statsection{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
 }
 .spanre{
    color:rgb(122, 101, 141);
 }

 .inst{
    display: flex;
    flex-direction: row;
    /* text-align: left; */
 }
 .inst1{
    padding-right: 30px;
    border-bottom: 2px solid rgb(47, 47, 128);
 }
 .inst2{
    padding-right: 30px;
    border-bottom: 2px solid rgb(47, 47, 128);
 }
 .inst3{
    padding-right: 30px;
    border-bottom: 2px solid rgb(47, 47, 128);
 }
 .color{
    width: 0.1px;
    height: 0.2px;
    background-color:rgb(47, 47, 128) ;
 }
 .chart-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
 }
 .emp1{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 5px;
 }
 .emp2{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
.emp3{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
.color1{
    width: 0.1px;
    height: 0.2px;
    background-color:rgb(164, 198, 231) ;
 }
 

 /* circle chart */

 /* .pie{
    --p:20px;
    --b:22px;
    --c:darkred;
    --w:150px;

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: -ms-inline-grid;
    margin: 15px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
 }

 .pie:before,
 .pie:after{
    content: "";
    position: absolute;
    border-radius: 50%;
 }

 .pie:before{
    inset:0;
    background: radial-gradient(farthest-side,var(--c) 98%,#0000);
    /* var(--b) var(--b) no-repat, conic-gradient(var(--c) calc(var(--p)*1%), #0000 0); */
    /* -webkit-mask:radial-gradient(farthest-side, #0000 calc(99%-var(--b)),#0000 calc(100%
    -var(--b)));
    mask: radial-gradient(fathest-side,#0000 calc(99% - var(--b)),#0000 calc(100% - var (--b)));
 }

 .pie:after{
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(cal(var(--p)*3.6deg))
    translate(calc(50% - var(--w)/2));
 }
.animate{
    animation: p 1s .5s both;
}

.no-round:before{
    background-size: 0 0, auto;
} */ */


/* .active-border{
    position: relative;
    text-align: center;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    background-color:#39B4CC;
    background-image:
        linear-gradient(91deg, transparent 50%, #A2ECFB 50%),
        linear-gradient(90deg, #A2ECFB 50%, transparent 50%);
} */





.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .single-chart {
    width: 50%;
    justify-content: space-around ;
    padding-left: 30px;
    /* padding-right: 40px; */
    text-align: center;
  }
  .single-chart1 {
    width: 250px;
    justify-content: space-around ;
    padding-left: 10px;
    /* padding-right: 20px; */
    text-align: center;
  }
  .single-chart2 {
    width: 50%;
    justify-content: space-around ;
    /* padding-left: 30px; */
    text-align: center;
  }
  
  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 200%;
    max-height: 100px;
  }
  
  .circle-bg {
    fill: none;
    stroke: rgb(229, 239, 235);
    stroke-width: 1.8;
  }
  
  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  
  .circular-chart.orange .circle {
    stroke:rgb(151, 219, 195);
  }
  
  .circular-chart.green .circle {
    stroke: rgb(151, 219, 195);
  }
  
  .circular-chart.blue .circle {
    stroke: rgb(151, 219, 195);
  }
  
  .percentage {
    fill: black;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
    font-weight: 600;
    font-size: 6px;
  }

  .circlechart{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .flex-wrapper{
    display: flex;
    flex-direction: row;
  }










 .updatesection{
    text-align: left;
    padding-left: 20px;
    
 }

 .update{
    background-color: rgb(249, 248, 246);
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
 }
 .text{
    color:rgb(47, 47, 128) ;
    font-weight: 500;
    font: 200;
    font-size: 15px;
 }
 .aftUpa{
    padding-right: 20px;
    padding-left: 20px;
    border: 2px solid rgb(47, 47, 128) ;
    border-right: none;
    border-bottom: none;
    border-top: none;
 }
 .empCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .empCon1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .buttUp{
    background-color:rgb(47, 47, 128) ;
    color: aliceblue;
    width: 200px;
 }
 .text{
    text-align: center;
 }

 
 
 /* barchart */
 .container{
    position: relative;
    width:500px;
    height: 200px;
    background-color:white;
    border: 1px solid ;
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 100px;
    z-index: 0;
 }

 .v-meter{
    position: relative;
    top: 0px;
    left: -30px;
    width: 400px;
    height: 300px;
    z-index: 100;
    list-style: none;
 }

 .v-meter li{
    position: relative;
    top: 0px;
    left: -45px;
    width: 400px;
    height: 59px;
    z-index: 100;
    /* border-top: 1px dashed #bbb; */
 }
 /* .v-meter li::before{
    content: '';
    position: absolute;
    top: -15px;
    left: -30px;
    height: 100%;
    border-bottom: solid 1px #bbb;
    transform: skew(45deg);
    width: 30px;

 } */

 .bar{
    width: 20px;
    height: 10%;
    background-color: rgb(35, 64, 192);
    position: absolute;
    left: -6%;
    bottom: 2px;
    z-index: 1000;
    margin: 0 40px;
 }

 .bar::after{
    content: '';
    width: 20px;
    height: 80%;
    background-color: rgb(118, 165, 221);
    position: absolute;
    top: -15px;
    /* bottom: 2px;
    z-index: 1000;
    margin: 0 40px; */
 }
 .two{
    left: 1%;
    height: 20%;
 }
 .three{
    left: 8%;
    height: 25%;
 }
 .four{
    left: 15%;
    height: 28%;
 }
 .five{
    left:22%;
    height: 32%;
 }
 .six{
    left: 29%;
    height: 36%;
 }
 .seven{
    left: 36%;
    height: 40%;
 }
 .eight{
    left: 43%;
    height: 45%;
 }
 .nine{
    left: 50%;
    height: 55%;
 }
 .ten{
    left:56%;
    height: 65%;
 }
 .ten1{
    left: 63%;
    height: 75%;
 }
 .ten2{
    left: 69%;
    height: 85%;
 }
 .ten3{
    left: 76%;
    height: 95%;
 }
 .chardiv{
    justify-content: center;
    align-items: center;
 }

.progressB{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .progress-bar {
    width: 60px;
    height: 6px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #145561; /* Green color for progress */
    width: 58; /* Initial width, will be updated using animation */
    animation: progressAnimation 5s ease-in-out infinite; /* Animation for progress update */
  }
  
  /* @keyframes progressAnimation {
    0% { width: 0; }
    100% { width: 100%; }
  } */
  

  .progressB1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .progress-bar1 {
    width: 95px;
    height: 6px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #62d6ed; /* Green color for progress */
    width: 58; /* Initial width, will be updated using animation */
    animation: progressAnimation 5s ease-in-out infinite; /* Animation for progress update */
  }
  .bothin12{
   display: flex;
   flex-direction: row;
  }


  /* updtednavbar */

  

  /* mobileview */

  @media (max-width: 767px) {
    .homefull {
        width: 100%; /* This div will take up 100% of the available width */
        max-width:100%; /* But not exceed 1200px */
        display: flex;
        flex-direction: column;
      }
      img {
        max-width: 100%;
        height: auto; /* Ensures aspect ratio is maintained */
      }
      body {
        font-size: 16px; /* Default font size */
      }
      
      h1 {
        font-size: 2em; /* 2 times the default font size */
      }
      .sidebar{
        position: absolute;

      }
      .sidebar-1{
         position: absolute;
         display: none;
      }
      .sidebar-2{
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        padding-left: 80px;
        position: sticky;
        padding-top: 650px;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 10;
      }
      .button1{
         padding-right: 20px;
      }
      .profilebar{
        width:fit-content;
        /* padding-left: 88px; */
      }
      .statsection{
        width: 200px;
      }
      .noti{
        position: absolute;
        top: 0;
        padding-left: 580px;
      }
      .book{
        display: none;
      }
      .GiBirdLimb{
        display: none;
      }
      .profilebar{
        background-color: rgb(249, 248, 246);
        /* padding-left: 60px; */
        padding-right: 60px;
      }
      .statsection{
        /* width: fit-content; */
        width: 300px;
        display: flex;
        flex-direction: column;
        /* padding-right: 200px; */
        /* text-align: left; */
        /* padding-left: px;
        padding-right: 60px; */
        
     }
     .inst{
        display: flex;
        flex-direction: column;
        /* text-align: left; */
     }
     .bothin12{
        display: flex;
        flex-direction: row;
     }
     .emp1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* column-gap: 5px; */
    }
    .emp2{
       display: flex;
       flex-direction: column;
       align-items:flex-start;
       /* column-gap: 5px; */
   }
   .emp3{
       display: flex;
       flex-direction:column;
       align-items: flex-start;
       /* column-gap: 5px; */
   }
   .container{
    width: 330px;
   }
   .h5{
    font-size: x-large;
   }
   .circlechart{
    display: flex;
    flex-direction: column;
   }
   .howdo{
    text-align: left;
   }
   .leftsec{
    justify-content: flex-start;
    justify-items: flex-start;
    padding-right: 150px;
   }
   .howdo span{
    text-align: left;
   }
   .aftUpa{
    display: none;
   }
   .text{
     display: none;
   }
   .buttUp{
    width: 300px;
   }
   .updatesection{
      max-width: 350px;width: 350px;
   }
   .update{
      max-width: 350px;
      width: 300px;
      padding-left: 1px;
      padding-top: 1px;
      padding-right: 1px;
   }
   
}
